:root {
    --color: rgb(39, 208, 238);
    --colorsec: gray;
    /* --defpad: 10px; */
    /* --defop: 0.5 */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorsec);
}

.nav {
    background-color: var(--color);
    padding: 10px;
    margin: 12px;
    list-style: none;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
}

li {
    border: 2px solid var(--colorsec);
    padding: 10px 18px 10px 18px;
    margin: 10px;
    border-radius: 29px;
}

.nav li:hover {
    background-color: rgb(235, 219, 219);
    border: 2px solid var(--color);
    color: rgb(95, 88, 88);
    box-shadow: 5px 5px 10px rgb(0, 110, 255);
}

.h1 {
    background-color: var(--color);
    border: 2px solid black;
    text-align: center;
    border-radius: 8px;
    margin: 12px;
}

div p {
    padding: 20px;
    padding-top: 0;
}

div h1 {
    padding: 10px;
}